.articles {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.articles::before {
  position: absolute;
  content: ' ';
  display: block;
  top: -20px;
  left: -20px;
  width: 131px;
  height: 115px;
  background-image: url(../img/decor-dots.svg);
}

.articles-item {
  position: relative;
  z-index: 2;
  margin-left: 30px;
  margin-top: 30px;

  flex-basis: calc(100% / 3 - 30px);

  overflow: hidden;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.75);
  border-radius: 20px;
}

.article-wrap {
  padding-top: 21px;
  padding-right: 51px;
  padding-bottom: 35px;
  padding-left: 33px;
}

.article-title {
  margin-bottom: 12px;
  font-size: 21px;
  line-height: 1.52;
}

.article-text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 1.75;
}

.read-more {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.65;

  color: var(--accent-color);
  transition: font-weight 800ms linear;
}

.read-more:hover,
.read-more:focus {
  font-weight: 700;
}
