.hero {
  background-image: url(../img/decor-dots.svg);
  background-repeat: no-repeat;
  background-position: top 40px left -40px;
}

.hero .content-wrapper {
  padding-top: 20px;
  padding-bottom: 150px;
  padding-right: 20px;

  @include for-size(desktop) {
    padding-top: 80px;
    padding-bottom: 200px;
  }
}

.hero > .container {
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50%;

  @include for-size(desktop) {
    background-position: right;
  }
}
